rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /cafes/{cafeId} {
      allow read: if true;
      allow create, delete: if false;
      allow update: if
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['restroomPassword', 'adminPasswordAttempt']) &&
        request.resource.data.restroomPassword is string &&
        request.resource.data.restroomPassword.size() > 0 &&
        request.resource.data.restroomPassword.size() < 100 &&
        request.resource.data.adminPasswordAttempt == resource.data.adminPassword;
    }

    match /cafes/{cafeId}/visits/{day} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasOnly(['count']) && request.resource.data.count == 1;
      allow update: if
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['count']) &&
        request.resource.data.count == resource.data.count + 1;
      allow delete: if false;
    }
  }
}
